@media (max-width: 600px) {
    .hero-image img {
        width: 100% !important;
    }
}

.overflow-initial {
    overflow: initial !important;
}

.sidebar-racc {
    width: 75px !important;
    background: #ffffff !important;
    opacity: 1 !important;
    top: 170px !important;
}

.imageViewAnimation {
    display: block !important; /* make sure it's visible */
    animation: slideInRight 0.8s ease forwards;
    position: absolute;
    z-index: 9999;
    top: 105px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
}

/* Keyframes for sliding in from the right */
@keyframes slideInRight {
    from {
        transform: translateX(100%); /* start off-screen to the right */
        opacity: 0;
    }
    to {
        transform: translateX(0); /* end at normal position */
        opacity: 1;
    }
}


@media (max-width: 768px) {

    .top-bar {
        justify-content: end !important;
    }

    a {
        margin-left: 5px !important;
    }

    a img {
        width: 30px !important;
        height: 30px !important;
    }

    span, a {
        font-size: 12px !important;
    }

    .top-bar .navbar-nav {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }

    .top-bar .navbar-nav .dropdown-menu {
        position: absolute !important;
        top: 40px !important;
        left: -60px !important;
    }

    .bloc_pub_responsive {
        margin-right: initial !important;
        margin-left: initial !important;
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-bottom: initial !important;
        border-radius: initial !important;
        max-height: initial !important;
        overflow-y: initial !important;
        padding-top: initial !important;
        box-shadow: initial !important;
    }

    .imageView {
        animation: slideOutRight 0.3s ease forwards;
    }

    .imageViewAnimation img {
        margin-left: initial !important;
    }

    /* Keyframes for sliding out to the right */
    @keyframes slideOutRight {
        from {
            transform: translateX(0);
            opacity: 1;
            display: block;
        }
        to {
            transform: translateX(100%);
            opacity: 0;
            display: none; /* hides after animation */
        }
    }
}

.arrowViewImage, .arrowHideImage {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #203b6f;
    color: #ffffff;
    border-radius: 10px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 9;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.arrowHideImage {
    position: absolute;
    top: 85px;
    right: 10px;
    z-index: 99999;
}

.main-section.backgroundOpacity {
    background: rgba(0, 0, 0, 0.3);
}

.new-side-nav {
    padding-top: 20px !important;
}

.new-side-nav .navbar-nav {
    margin-left: 0 !important;
    padding: 0 !important;
}

.new-side-nav a {
    margin-left: 0 !important;
    padding-left: 10px !important;
}

.new-side-nav .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    color: #000000 !important;
    width: initial !important;
}

.new-side-nav .navbar-nav .nav-item .dropdown-menu {
    margin-left: 10px !important;
}

.new-side-nav.livre-side-nav {
    flex-direction: column !important;
    z-index: 99999;
}

.new-side-nav.livre-side-nav .navbar-nav .nav-item .dropdown-menu {
    position: static !important;
}

.new-side-nav.livre-side-nav .language-class .dropdown {
    position: relative;
}

.new-side-nav.livre-side-nav .language-class .dropdown .dropdown-menu {
    left: -130px !important;
}

.menu-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swal2-content {
    overflow: auto;
}